@model EntityLayer.CustomerRegistrationEntity

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/registration.css" rel="stylesheet" />
<div class="panel panel-default">
    <div class="panel-heading">Customer Registration</div>
    <div class="panel-body">
        <div class="col-sm-12">
            <form class="form-horizontal" autocomplete="off" id="CustomerRegistrationForm">
                <div class="form-group clearfix">
                    <label class="control-label col-sm-4" for="countries"><span class="Country_location">Please select your Country location</span> : <span class="text-danger">*</span></label>
                    <div class="col-sm-8">
                        <select class="form-control country-list" name="country_list" required oninvalid="this.setCustomValidity('Select your Country location.')" onchange="this.setCustomValidity('')">
                            <option value="none">-- Select --</option>
                            <option value="AF">Afghanistan</option>
                            <option value="AX">Åland Islands</option>
                            <option value="AL">Albania</option>
                            <option value="DZ">Algeria</option>
                            <option value="AS">American Samoa</option>
                            <option value="AD">Andorra</option>
                            <option value="AO">Angola</option>
                            <option value="AI">Anguilla</option>
                            <option value="AQ">Antarctica</option>
                            <option value="AG">Antigua and Barbuda</option>
                            <option value="AR">Argentina</option>
                            <option value="AM">Armenia</option>
                            <option value="AW">Aruba</option>
                            <option value="AU">Australia</option>
                            <option value="AT">Austria</option>
                            <option value="AZ">Azerbaijan</option>
                            <option value="BS">Bahamas</option>
                            <option value="BH">Bahrain</option>
                            <option value="BD">Bangladesh</option>
                            <option value="BB">Barbados</option>
                            <option value="BY">Belarus</option>
                            <option value="BE">Belgium</option>
                            <option value="BZ">Belize</option>
                            <option value="BJ">Benin</option>
                            <option value="BM">Bermuda</option>
                            <option value="BT">Bhutan</option>
                            <option value="BO">Bolivia, Plurinational State of</option>
                            <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                            <option value="BA">Bosnia and Herzegovina</option>
                            <option value="BW">Botswana</option>
                            <option value="BV">Bouvet Island</option>
                            <option value="BR">Brazil</option>
                            <option value="IO">British Indian Ocean Territory</option>
                            <option value="BN">Brunei Darussalam</option>
                            <option value="BG">Bulgaria</option>
                            <option value="BF">Burkina Faso</option>
                            <option value="BI">Burundi</option>
                            <option value="KH">Cambodia</option>
                            <option value="CM">Cameroon</option>
                            <option value="CA">Canada</option>
                            <option value="CV">Cape Verde</option>
                            <option value="KY">Cayman Islands</option>
                            <option value="CF">Central African Republic</option>
                            <option value="TD">Chad</option>
                            <option value="CL">Chile</option>
                            <option value="CN">China</option>
                            <option value="CX">Christmas Island</option>
                            <option value="CC">Cocos (Keeling) Islands</option>
                            <option value="CO">Colombia</option>
                            <option value="KM">Comoros</option>
                            <option value="CG">Congo</option>
                            <option value="CD">Congo, the Democratic Republic of the</option>
                            <option value="CK">Cook Islands</option>
                            <option value="CR">Costa Rica</option>
                            <option value="CI">Côte d'Ivoire</option>
                            <option value="HR">Croatia</option>
                            <option value="CU">Cuba</option>
                            <option value="CW">Curaçao</option>
                            <option value="CY">Cyprus</option>
                            <option value="CZ">Czech Republic</option>
                            <option value="DK">Denmark</option>
                            <option value="DJ">Djibouti</option>
                            <option value="DM">Dominica</option>
                            <option value="DO">Dominican Republic</option>
                            <option value="EC">Ecuador</option>
                            <option value="EG">Egypt</option>
                            <option value="SV">El Salvador</option>
                            <option value="GQ">Equatorial Guinea</option>
                            <option value="ER">Eritrea</option>
                            <option value="EE">Estonia</option>
                            <option value="ET">Ethiopia</option>
                            <option value="FK">Falkland Islands (Malvinas)</option>
                            <option value="FO">Faroe Islands</option>
                            <option value="FJ">Fiji</option>
                            <option value="FI">Finland</option>
                            <option value="FR">France</option>
                            <option value="GF">French Guiana</option>
                            <option value="PF">French Polynesia</option>
                            <option value="TF">French Southern Territories</option>
                            <option value="GA">Gabon</option>
                            <option value="GM">Gambia</option>
                            <option value="GE">Georgia</option>
                            <option value="DE">Germany</option>
                            <option value="GH">Ghana</option>
                            <option value="GI">Gibraltar</option>
                            <option value="GR">Greece</option>
                            <option value="GL">Greenland</option>
                            <option value="GD">Grenada</option>
                            <option value="GP">Guadeloupe</option>
                            <option value="GU">Guam</option>
                            <option value="GT">Guatemala</option>
                            <option value="GG">Guernsey</option>
                            <option value="GN">Guinea</option>
                            <option value="GW">Guinea-Bissau</option>
                            <option value="GY">Guyana</option>
                            <option value="HT">Haiti</option>
                            <option value="HM">Heard Island and McDonald Islands</option>
                            <option value="VA">Holy See (Vatican City State)</option>
                            <option value="HN">Honduras</option>
                            <option value="HK">Hong Kong</option>
                            <option value="HU">Hungary</option>
                            <option value="IS">Iceland</option>
                            <option value="IN">India</option>
                            <option value="ID">Indonesia</option>
                            <option value="IR">Iran, Islamic Republic of</option>
                            <option value="IQ">Iraq</option>
                            <option value="IE">Ireland</option>
                            <option value="IM">Isle of Man</option>
                            <option value="IL">Israel</option>
                            <option value="IT">Italy</option>
                            <option value="JM">Jamaica</option>
                            <option value="JP">Japan</option>
                            <option value="JE">Jersey</option>
                            <option value="JO">Jordan</option>
                            <option value="KZ">Kazakhstan</option>
                            <option value="KE">Kenya</option>
                            <option value="KI">Kiribati</option>
                            <option value="KP">Korea, Democratic People's Republic of</option>
                            <option value="KR">Korea, Republic of</option>
                            <option value="KW">Kuwait</option>
                            <option value="KG">Kyrgyzstan</option>
                            <option value="LA">Lao People's Democratic Republic</option>
                            <option value="LV">Latvia</option>
                            <option value="LB">Lebanon</option>
                            <option value="LS">Lesotho</option>
                            <option value="LR">Liberia</option>
                            <option value="LY">Libya</option>
                            <option value="LI">Liechtenstein</option>
                            <option value="LT">Lithuania</option>
                            <option value="LU">Luxembourg</option>
                            <option value="MO">Macao</option>
                            <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                            <option value="MG">Madagascar</option>
                            <option value="MW">Malawi</option>
                            <option value="MY">Malaysia</option>
                            <option value="MV">Maldives</option>
                            <option value="ML">Mali</option>
                            <option value="MT">Malta</option>
                            <option value="MH">Marshall Islands</option>
                            <option value="MQ">Martinique</option>
                            <option value="MR">Mauritania</option>
                            <option value="MU">Mauritius</option>
                            <option value="YT">Mayotte</option>
                            <option value="MX">Mexico</option>
                            <option value="FM">Micronesia, Federated States of</option>
                            <option value="MD">Moldova, Republic of</option>
                            <option value="MC">Monaco</option>
                            <option value="MN">Mongolia</option>
                            <option value="ME">Montenegro</option>
                            <option value="MS">Montserrat</option>
                            <option value="MA">Morocco</option>
                            <option value="MZ">Mozambique</option>
                            <option value="MM">Myanmar</option>
                            <option value="NA">Namibia</option>
                            <option value="NR">Nauru</option>
                            <option value="NP">Nepal</option>
                            <option value="NL">Netherlands</option>
                            <option value="NC">New Caledonia</option>
                            <option value="NZ">New Zealand</option>
                            <option value="NI">Nicaragua</option>
                            <option value="NE">Niger</option>
                            <option value="NG">Nigeria</option>
                            <option value="NU">Niue</option>
                            <option value="NF">Norfolk Island</option>
                            <option value="MP">Northern Mariana Islands</option>
                            <option value="NO">Norway</option>
                            <option value="OM">Oman</option>
                            <option value="PK">Pakistan</option>
                            <option value="PW">Palau</option>
                            <option value="PS">Palestinian Territory, Occupied</option>
                            <option value="PA">Panama</option>
                            <option value="PG">Papua New Guinea</option>
                            <option value="PY">Paraguay</option>
                            <option value="PE">Peru</option>
                            <option value="PH">Philippines</option>
                            <option value="PN">Pitcairn</option>
                            <option value="PL">Poland</option>
                            <option value="PT">Portugal</option>
                            <option value="PR">Puerto Rico</option>
                            <option value="QA">Qatar</option>
                            <option value="RE">Réunion</option>
                            <option value="RO">Romania</option>
                            <option value="RU">Russian Federation</option>
                            <option value="RW">Rwanda</option>
                            <option value="BL">Saint Barthélemy</option>
                            <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                            <option value="KN">Saint Kitts and Nevis</option>
                            <option value="LC">Saint Lucia</option>
                            <option value="MF">Saint Martin (French part)</option>
                            <option value="PM">Saint Pierre and Miquelon</option>
                            <option value="VC">Saint Vincent and the Grenadines</option>
                            <option value="WS">Samoa</option>
                            <option value="SM">San Marino</option>
                            <option value="ST">Sao Tome and Principe</option>
                            <option value="SA">Saudi Arabia</option>
                            <option value="SN">Senegal</option>
                            <option value="RS">Serbia</option>
                            <option value="SC">Seychelles</option>
                            <option value="SL">Sierra Leone</option>
                            <option value="SG">Singapore</option>
                            <option value="SX">Sint Maarten (Dutch part)</option>
                            <option value="SK">Slovakia</option>
                            <option value="SI">Slovenia</option>
                            <option value="SB">Solomon Islands</option>
                            <option value="SO">Somalia</option>
                            <option value="ZA">South Africa</option>
                            <option value="GS">South Georgia and the South Sandwich Islands</option>
                            <option value="SS">South Sudan</option>
                            <option value="ES">Spain</option>
                            <option value="LK">Sri Lanka</option>
                            <option value="SD">Sudan</option>
                            <option value="SR">Suriname</option>
                            <option value="SJ">Svalbard and Jan Mayen</option>
                            <option value="SZ">Swaziland</option>
                            <option value="SE">Sweden</option>
                            <option value="CH">Switzerland</option>
                            <option value="SY">Syrian Arab Republic</option>
                            <option value="TW">Taiwan, Province of China</option>
                            <option value="TJ">Tajikistan</option>
                            <option value="TZ">Tanzania, United Republic of</option>
                            <option value="TH">Thailand</option>
                            <option value="TL">Timor-Leste</option>
                            <option value="TG">Togo</option>
                            <option value="TK">Tokelau</option>
                            <option value="TO">Tonga</option>
                            <option value="TT">Trinidad and Tobago</option>
                            <option value="TN">Tunisia</option>
                            <option value="TR">Turkey</option>
                            <option value="TM">Turkmenistan</option>
                            <option value="TC">Turks and Caicos Islands</option>
                            <option value="TV">Tuvalu</option>
                            <option value="UG">Uganda</option>
                            <option value="UA">Ukraine</option>
                            <option value="AE">United Arab Emirates</option>
                            <option value="GB">United Kingdom</option>
                            <option value="US">United States</option>
                            <option value="UM">United States Minor Outlying Islands</option>
                            <option value="UY">Uruguay</option>
                            <option value="UZ">Uzbekistan</option>
                            <option value="VU">Vanuatu</option>
                            <option value="VE">Venezuela, Bolivarian Republic of</option>
                            <option value="VN">Viet Nam</option>
                            <option value="VG">Virgin Islands, British</option>
                            <option value="VI">Virgin Islands, U.S.</option>
                            <option value="WF">Wallis and Futuna</option>
                            <option value="EH">Western Sahara</option>
                            <option value="YE">Yemen</option>
                            <option value="ZM">Zambia</option>
                            <option value="ZW">Zimbabwe</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-sm-4 " for="language"><span class="Select_Language"> Select Language</span> : <span class="text-danger">*</span></label>
                    <div class="col-sm-8">
                        <select class="form-control language" name="language" required oninvalid="this.setCustomValidity('Select Language.')" onchange="this.setCustomValidity('')">
                            <option value="none">-- Select -- </option>
                            <option value="en">English</option>
                            <option value="hi">Hindi</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-sm-4 " for="name"><span class="Name">Name</span> : <span class="text-danger">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="name" id="name" required oninvalid="this.setCustomValidity('Enter your Name.')" onchange="this.setCustomValidity('')">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-sm-4" for="gender"><span class="Gender">Gender (at birth)</span> : <span class="text-danger">*</span></label>
                    <div class="col-sm-8">
                        <select class="form-control gender" name="gender" required oninvalid="this.setCustomValidity('Select Gender.')" onchange="this.setCustomValidity('')">
                            <option value="none">-- Select -- </option>
                            <option value="m">Male</option>
                            <option value="f">Female</option>
                            <option value="o">Other</option>
                            <!-- <option value="nop">Not Preferred to Say</option> -->
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-sm-4" for="occupation"><span class="Occupation">Occupation</span> : <span class="text-danger">*</span></label>
                    <div class="col-sm-8">
                        <select class="form-control occupation" name="occupation" required oninvalid="this.setCustomValidity('Select Occupation.')" onchange="this.setCustomValidity('')">
                            <option value="">-- Select -- </option>
                            <option value="phy">Physican</option>
                            <option value="phm">Pharmacist</option>
                            <option value="nur">Nurse</option>
                            <option value="ohp">Other Health Profession</option>
                            <option value="na">None of The Above</option>
                        </select>
                    </div>
                </div>

                <div class="form-group clearfix doc_reg_no_form">
                    <label class="control-label col-sm-4" for="doc_reg_no"><span class="doc_reg_no">Doctor Registration No. </span> : <span class="text-danger">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="doc_reg_no" id="doc_reg_no" onkeypress='validate(event)' required oninvalid="this.setCustomValidity('Doctor Registration No.')" onchange="this.setCustomValidity('')">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-sm-4" for="dob"><span class="Date_of_birth">Date of birth</span> : <span class="text-danger">*</span></label>
                    <div class="col-sm-6">
                        <input type="date" data-date="" data-date-format="DD/MM/YYYY" class="form-control" id="dob" name="dob" required oninvalid="this.setCustomValidity('Select your Date of birth.')" onchange="this.setCustomValidity('');_setAge();">
                    </div>
                    <label class="control-label col-sm-1" for="age"><span class="Age">Age</span> :</label>
                    <div class="col-sm-1 text-center">
                        <label for="" id="age" class="text-mute"><span class="age">0</span> <span class="Year"></span></label>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-sm-4" for="pwd"><span class="Phone">Phone</span> : <span class="text-danger">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="phone" id="phone" onkeypress='validate(event)' required oninvalid="this.setCustomValidity('Enter Phone number.')" onchange="this.setCustomValidity('')">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-sm-4" for="email"><span class="Email">Email</span> : <span class="text-danger">*</span></label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" name="email" id="email" onblur="Emailverification(this.value)" required oninvalid="this.setCustomValidity('Enter your Email.')" onchange="this.setCustomValidity('')">
                        <label class="error-mail-msg text-danger text-bold"></label>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-sm-4" for="stAddress"><span class="Street_Address">Street Address</span> : <span class="text-danger">*</span></label>
                    <div class="col-sm-8">
                        <textarea name="stAddress" id="stAddress" rows="4" class="form-control stAddress" required oninvalid="this.setCustomValidity('Fill your Address.')" onchange="this.setCustomValidity('')"></textarea>
                        <br />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-sm-4" for="city"><span class="City">City / Place</span> : <span class="text-danger">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="city" required oninvalid="this.setCustomValidity('Enter your City.')" onchange="this.setCustomValidity('')">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-sm-4" for="state"><span class="State_Province_County">State/Province/County</span> : <span class="text-danger">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="state" required oninvalid="this.setCustomValidity('Enter State/Province/County.')" onchange="this.setCustomValidity('')">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-sm-4" for="postalcode"><span class="Postal_Code">Postal Code</span> : <span class="text-danger">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="postalcode" required oninvalid="this.setCustomValidity('Enter Postal Code.')" onchange="this.setCustomValidity('')">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <span class="text-danger">*</span>&nbsp;&nbsp;<label> <input type="checkbox" id="Policy" required oninvalid="this.setCustomValidity('Please select the checkbox to confirm your registration.')" onchange="this.setCustomValidity('')"> <span class="By_clicking">By clicking 'Register' I confirm that I have read and agreed to the Terms of Use and Privacy Policy</span></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a href="/Account/Index" class="registiondone"><span class="register_user_Login">Already a register user? Login</span></a>
                        <button type="submit" class="btn btn-primary btn-submit pull-right Register" disabled><span class="Register">Register</span></button>
                        <button type="reset" class="btn btn-warning pull-right mr-1 reset"><span class="Reset">Reset</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/data/en.js"></script>
    <script src="~/data/hi.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="~/Scripts/user_registration.js"></script>
}
