
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutResetPassword.cshtml";
}

<style>
    .panel-heading {
        background: linear-gradient(90deg, #00a0e3 0%, #522e90 65%, #13698b 100%);
        color: #fff !important;
        font-weight: bold;
        font-size: 17px;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">Forgot Password</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm())
                {
                <div class="fo1rm-horizontal">
                    <div class="form-group">
                        Please enter your registered email address below to receive an email containing a link, to reset your password.
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-2">Email Address : </label>
                        <div class="col-md-10">
                            @Html.TextBox("EmailID", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Submit" class="btn btn-success" />
                            <b><a class="pull-right" href="/Account/Index">Login</a></b>
                        </div>
                    </div>
                    <div class="text-success col-md-offset-2 col-md-10 text-bold">
                        @ViewBag.Message
                    </div>
                </div>
                }
            </div>
        </div>       
    </div>
</div>
